.app{
    background-color: var(--primary-color);
    font-family: var(--font-base);
    // width: 100vw;
    width: 100%;
    overflow-x: hidden;

    
    
}

.p-text{
    font-size: 1.2rem ;
    text-align: left;
    line-height: 1.5;

    @media screen and (min-width: 2000px) {

        font-size: 1.5rem;
        padding: 0 2rem;

        
    }

}

.app__flex{
    display: flex;
    justify-content: center;
    align-items: center;
}